@import '../../sassStyles/variables.scss';
@import '../../sassStyles/mixin.scss';
.back-to-top-btn {
  &.hidden {
    opacity: 1;
    visibility: visible;
  }
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 55px;
  right: 10px;
  width: 45px;
  height: 45px;
  z-index: 100;
  border: none;
  outline: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.198);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $whiteColor;
  @include transition(all 0.3s);
  svg {
    @include transition(all 0.3s);
    color: $lightLetterColor;
    font-size: 28px;
  }
  &:hover {
    cursor: pointer;
    @include transform(scale(1.3));
    background-color: $lightLetterColor;
    svg {
      color: $whiteColor;
      @include transform(scale(1.4));
    }
  }
  &:active {
    @include transform(scale(1));
    svg {
      @include transform(scale(1));
    }
  }
}
@media (min-width: 768px) {
  .back-to-top-btn {
    right: 35px;
  }
}
