@import '../../sassStyles/mixin.scss';
@import '../../sassStyles/variables.scss';

.cart-mini {
  @include mini-close(right, 100%);
}
.cart-mini-openned {
  @include mini-open;
}
.content-mini-cart {
  flex: 1 1 auto;
}
.footer-mini-cart {
  padding: 20px;
  border: $borderBottomColor;
  box-shadow: 0 0px 10px 6px rgba(129, 129, 129, 0.2);
  p {
    font-size: 1.3rem;
    line-height: 1.7;
    color: $lightLetterColor;
  }
}
.footer-mini-cart-total-wrapper {
  display: flex;
  justify-content: space-between;
  .footer-mini-cart-total {
    color: $letterColor;
    font-weight: 600;
    font-size: 1.9rem;
  }
  .footer-mini-cart-price {
    color: $letterColor;
    font-size: 1.9rem;
  }
}
.view-mini-cart-link {
  display: block;
  width: 100%;
  text-align: center;
  background-color: darken($whiteColor, 3%);
  text-decoration: none;
  color: $letterColor;
  padding: 10px 25px;
  margin: 10px 0;
  font-size: 19px;
  border-radius: 30px;
}
.mini-cart-checkout-btn {
  margin: 10px 0;
  width: 100%;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 19px;
  outline: none;
  border: none;
  background-color: $hoverColor;
  color: $whiteColor;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: lighten($hoverColor, 8%);
  }
}
