.section-collection-list {
  width: 100%;
}
.collection-list-container {
  margin-top: 0 !important;
  margin-right: auto !important;
  margin-bottom: 80px !important;
  margin-left: auto !important;
}

.collection-list {
  max-width: 1200px;
  margin: 0 auto;
}

.item-collection-content {
  a {
  }
}
.item-collection-title {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
